In [1]:
from project_helper import TweetData, APIData, MarketData
import pandas as pd
from pytz import timezone
import datetime

In [2]:
#data = TweetData('trump_sept.csv')
tweet_data = APIData()

In [3]:
tweet_data.clean_tweets.head()

,tweets,timestamp,after4_date
timestamp,,,
2010-01-12 12:05:08-06:00,celebrity apprentice returns to nbc sunday pm ...,2010-01-12 12:05:08-06:00,2010-01-12
2010-01-15 10:28:02-06:00,trump tycoon app for iphone ipod touch its but...,2010-01-15 10:28:02-06:00,2010-01-15
2010-01-21 10:58:43-06:00,from donald trump i saw lady gaga last night a...,2010-01-21 10:58:43-06:00,2010-01-21
2010-01-22 14:51:00-06:00,golf channel donald trumps world of golf host ...,2010-01-22 14:51:00-06:00,2010-01-22
2010-02-07 10:54:42-06:00,superbowl sunday is a great american tradition...,2010-02-07 10:54:42-06:00,2010-02-07

In [4]:
md = MarketData()
fin_data = md.data

In [5]:
print(len(tweet_data.clean_tweets.index))
len(set(tweet_data.clean_tweets.index))

39624

39387

In [10]:
fin_data.tail()

,Date,Time,Open,High,Low,Close,Volume,Tick Count,Up Ticks,Down Ticks,Same Ticks,VWAP
timestamp,,,,,,,,,,,,
2019-09-30 15:56:00-05:00,9/30/2019,15:56,2985.75,2986.00,2985.50,2985.75,368,72,13,14,45,2985.82
2019-09-30 15:57:00-05:00,9/30/2019,15:57,2985.75,2986.00,2984.50,2984.75,600,84,11,15,58,2985.11
2019-09-30 15:58:00-05:00,9/30/2019,15:58,2984.75,2985.75,2984.75,2985.25,226,27,5,3,19,2985.49
2019-09-30 15:59:00-05:00,9/30/2019,15:59,2985.50,2985.50,2985.25,2985.25,133,20,5,5,10,2985.36
2019-09-30 16:00:00-05:00,9/30/2019,16:00,2985.25,2985.25,2984.50,2984.50,361,74,14,17,43,2984.84

In [7]:
subset = (tweet_data.clean_tweets.index > fin_data.index[0]) & (tweet_data.clean_tweets.index < fin_data.index[-1])
sub_data = tweet_data.clean_tweets[subset]

In [8]:
sub_data.head()

,tweets,timestamp,after4_date
timestamp,,,
2019-09-01 19:53:33-05:00,u cwe hold that legislative prayer is governme...,2019-09-01 19:53:33-05:00,2019-09-02
2019-09-01 19:53:34-05:00,this judge thomas ambro majotity opinion and t...,2019-09-01 19:53:34-05:00,2019-09-02
2019-09-02 06:36:41-05:00,adds up to the most ambitious pro worker polic...,2019-09-02 06:36:41-05:00,2019-09-02
2019-09-02 06:36:41-05:00,u cwhen you put everything together the pro gr...,2019-09-02 06:36:41-05:00,2019-09-02
2019-09-02 06:38:59-05:00,since my election many trillions of dollars of...,2019-09-02 06:38:59-05:00,2019-09-02

In [20]:
adj_ts = [ time + datetime.timedelta(seconds = 60 - time.second) for i, time in enumerate(sub_data.index)]
adj_ts2 = [ time + datetime.timedelta(seconds = 360 - time.second) for i, time in enumerate(sub_data.index)]

In [21]:
adj_dict = {a:b for a, b in zip(adj_ts, sub_data.index)}

In [25]:
imp_open = fin_data.loc[adj_ts]['Open']
imp_close = fin_data.loc[adj_ts2]['Close']

C:\Users\PC\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.
C:\Users\PC\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike

In [26]:
hl = imp_open - imp_close.values

In [27]:
hl.head()

timestamp
2019-09-01 19:54:00-05:00    0.50
2019-09-01 19:54:00-05:00    0.50
2019-09-02 06:37:00-05:00    0.25
2019-09-02 06:37:00-05:00    0.25
2019-09-02 06:39:00-05:00    0.25
Name: Open, dtype: float64

In [29]:
sub_sort = hl.dropna().sort_values()

In [31]:
sub_sort

timestamp
2019-09-24 13:13:00-05:00   -17.75
2019-09-24 13:13:00-05:00   -17.75
2019-09-11 18:18:00-05:00   -10.50
2019-09-11 18:18:00-05:00   -10.50
2019-09-12 09:08:00-05:00    -8.25
2019-09-12 09:16:00-05:00    -5.75
2019-09-03 09:49:00-05:00    -5.25
2019-09-03 09:49:00-05:00    -5.25
2019-09-03 08:34:00-05:00    -4.00
2019-09-03 20:05:00-05:00    -3.50
2019-09-06 07:40:00-05:00    -3.25
2019-09-05 08:41:00-05:00    -2.75
2019-09-10 22:12:00-05:00    -2.75
2019-09-10 09:24:00-05:00    -2.25
2019-09-25 09:59:00-05:00    -2.25
2019-09-05 08:16:00-05:00    -2.00
2019-09-06 07:09:00-05:00    -2.00
2019-09-06 07:09:00-05:00    -2.00
2019-09-06 07:09:00-05:00    -2.00
2019-09-05 08:16:00-05:00    -2.00
2019-09-05 18:28:00-05:00    -1.75
2019-09-04 17:24:00-05:00    -1.75
2019-09-16 08:36:00-05:00    -1.75
2019-09-18 06:46:00-05:00    -1.75
2019-09-16 09:02:00-05:00    -1.50
2019-09-16 09:02:00-05:00    -1.50
2019-09-18 06:48:00-05:00    -1.50
2019-09-18 19:36:00-05:00    -1.50
2019-09-16 06:22:00-05:00    -1.50
2019-09-20 07:03:00-05:00    -1.50
                             ...
2019-09-20 07:28:00-05:00     1.50
2019-09-30 08:59:00-05:00     1.50
2019-09-20 15:36:00-05:00     1.50
2019-09-20 07:28:00-05:00     1.50
2019-09-09 08:53:00-05:00     1.50
2019-09-27 14:42:00-05:00     1.75
2019-09-27 06:21:00-05:00     1.75
2019-09-09 21:52:00-05:00     1.75
2019-09-27 06:21:00-05:00     1.75
2019-09-09 08:44:00-05:00     1.75
2019-09-25 10:26:00-05:00     1.75
2019-09-27 08:26:00-05:00     1.75
2019-09-18 08:24:00-05:00     1.75
2019-09-06 07:53:00-05:00     2.00
2019-09-15 17:51:00-05:00     2.00
2019-09-13 07:59:00-05:00     2.00
2019-09-15 17:55:00-05:00     2.00
2019-09-13 07:59:00-05:00     2.00
2019-09-27 08:33:00-05:00     2.00
2019-09-15 17:51:00-05:00     2.00
2019-09-13 07:59:00-05:00     2.00
2019-09-18 20:43:00-05:00     2.25
2019-09-18 13:26:00-05:00     2.75
2019-09-26 11:49:00-05:00     2.75
2019-09-30 07:13:00-05:00     3.00
2019-09-16 14:17:00-05:00     3.25
2019-09-06 08:35:00-05:00     4.25
2019-09-10 10:59:00-05:00     4.50
2019-09-10 10:59:00-05:00     4.50
2019-09-27 08:30:00-05:00     4.50
Name: Open, Length: 325, dtype: float64

In [32]:
sub_data.loc[adj_dict[sub_sort.index[2]]][0]

'on october st we have agreed as a gesture of good will to move the increased tariffs on billion dollars u '

In [36]:
adj_dict[hl.dropna().sort_values().index[2]]

Timestamp('2019-09-11 18:17:19-0500', tz='US/Central')

In [37]:
sub_ts = [ time - datetime.timedelta(minutes = 1) for time in sub_sort.index ]
sub_ts_1 = [ time + datetime.timedelta(minutes = 1) for time in sub_ts ]

In [38]:
sub_data[(sub_data.index >= sub_ts[0]) & (sub_data.index <= sub_ts_1[0])]

                                                                      tweets
timestamp
2019-09-24 13:12:09-05:00  i am currently at the united nations represent...
2019-09-24 13:12:11-05:00  you will see it was a very friendly and totall...