In [64]:
from opts import VolCurveAgg
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from tqdm import tqdm
import pickle

In [65]:
with open('data/corn_dict.pickle','rb') as f:
    corn_dict = pickle.load(f)
with open('data/wheat_dict.pickle','rb') as f:
    wheat_dict = pickle.load(f)
with open('data/soybeans_dict.pickle','rb') as f:
    soybeans_dict = pickle.load(f)

In [66]:
corn_gamma_features = pd.DataFrame(index = corn_dict.keys(), columns = ['C_up_gamma', 
                                                                        'C_up_gamma_5', 
                                                                        'C_down_gamma',
                                                                        'C_down_gamma_5'])
for key in tqdm(corn_dict.keys()):
    vc = VolCurveAgg('C', key, corn_dict)
    corn_gamma_features.loc[key] = vc.features.iloc[0]

100%|████████████████████████████████████████| 457/457 [03:49<00:00,  2.03it/s]

In [67]:
wheat_gamma_features = pd.DataFrame(index = wheat_dict.keys(), columns = ['W_up_gamma', 
                                                                          'W_up_gamma_5', 
                                                                          'W_down_gamma',
                                                                          'W_down_gamma_5'])
for key in tqdm(wheat_dict.keys()):
    vc = VolCurveAgg('W', key, wheat_dict)
    wheat_gamma_features.loc[key] = vc.features.iloc[0]

100%|████████████████████████████████████████| 422/422 [03:33<00:00,  2.24it/s]

In [68]:
soybeans_gamma_features = pd.DataFrame(index = soybeans_dict.keys(), columns = ['S_up_gamma', 
                                                                                'S_up_gamma_5', 
                                                                                'S_down_gamma',
                                                                                'S_down_gamma_5'])
for key in tqdm(soybeans_dict.keys()):
    vc = VolCurveAgg('S', key, soybeans_dict)
    soybeans_gamma_features.loc[key] = vc.features.iloc[0]

100%|████████████████████████████████████████| 438/438 [04:28<00:00,  1.71it/s]

In [16]:
corn_gamma_features.index.name = 'date'
corn_gamma_features.to_csv('features/corn_gamma_features.csv')
corn_gamma_features.head()

           C_up_gamma C_up_gamma_5 C_down_gamma C_down_gamma_5
date
2016-09-21    112.158      172.816      449.327        318.097
2016-09-22    112.586      176.448      409.969        326.694
2016-09-27    147.267      196.653      291.287        220.835
2016-09-29    149.463      198.943        312.1        237.185
2016-09-30    149.873      200.024       324.28        247.844

In [17]:
wheat_gamma_features.index.name = 'date'
wheat_gamma_features.to_csv('features/wheat_gamma_features.csv')
wheat_gamma_features.head()

           W_up_gamma W_up_gamma_5 W_down_gamma W_down_gamma_5
date
2016-09-27    24.1337      30.4299      39.3144        24.1487
2016-09-29     25.653      29.5872      60.5507        40.2571
2016-10-04    24.1597      30.4696      57.2157        37.5615
2016-10-11    36.3024      37.4846      79.7802        53.6814
2016-10-13    39.5087      53.2433      73.4732        48.6964

In [21]:
soybeans_gamma_features.index.name = 'date'
soybeans_gamma_features.to_csv('features/soybeans_gamma_features.csv')
soybeans_gamma_features.head()

           S_up_gamma S_up_gamma_5 S_down_gamma S_down_gamma_5
date
2016-09-21    45.4584      54.4659      193.861        145.124
2016-09-22    43.1656      68.5838      203.065        141.574
2016-09-23    44.9761      48.0265      220.693         155.53
2016-09-26    40.4315      73.0954      198.428         124.61
2016-09-27    35.9904      66.5589      184.435        115.107

In [ ]:
soybeans_gamma