In [6]:
model_builder = ModelBuildier(x_dict,y_dict,y_returns,instrument_list,hyper_parameters=hp)
model_builder.run()

## Best Model Metrics

In [7]:
model_builder.accuracies_best

      best_model  test_accuracy    sharpe  f1_score  prediction_ratio
ES      logistic       0.557143  0.910835  0.710280          0.978571
NQ      logistic       0.542857  0.443255  0.703704          1.000000
CD  boosted_tree       0.550000  3.347600  0.442478          0.278571
EC            rf       0.478571 -1.288270  0.434109          0.442857
JY      logistic       0.478571  0.378321  0.353982          0.307143
MP            rf       0.535714  1.480037  0.591195          0.607143
TY  boosted_tree       0.521429 -0.008002  0.625698          0.692857
US      logistic       0.542857  1.231922  0.648352          0.714286
C       logistic       0.492857 -0.851619  0.628272          0.857143
S   boosted_tree       0.528571  0.867972  0.597561          0.664286
W   boosted_tree       0.492857  0.431066  0.393162          0.321429
CL      logistic       0.500000 -0.682313  0.666667          1.000000
GC            rf       0.564286  3.283681  0.601307          0.521429

# All Model Metrics

In [8]:
model_builder.accuracies_all

              model  test_accuracy    sharpe  f1_score  prediction_ratio
asset
ES         logistic       0.557143  0.910835  0.710280          0.978571
ES               rf       0.557143  0.894590  0.696078          0.907143
ES     boosted_tree       0.528571 -0.574667  0.616279          0.678571
NQ         logistic       0.542857  0.443255  0.703704          1.000000
NQ               rf       0.521429  0.254548  0.685446          0.978571
NQ     boosted_tree       0.471429 -0.594506  0.622449          0.857143
CD         logistic       0.478571 -0.093572  0.075949          0.035714
CD               rf       0.442857 -1.501671  0.290909          0.257143
CD     boosted_tree       0.550000  3.347600  0.442478          0.278571
EC         logistic       0.492857  0.013225  0.236559          0.185714
EC               rf       0.478571 -1.288270  0.434109          0.442857
EC     boosted_tree       0.485714 -0.830554  0.368421          0.335714
JY         logistic       0.478571  0.378321  0.353982          0.307143
JY               rf       0.521429  0.521220  0.192771          0.092857
JY     boosted_tree       0.507143 -0.086073  0.206897          0.121429
MP         logistic       0.428571 -1.579023  0.487179          0.585714
MP               rf       0.535714  1.480037  0.591195          0.607143
MP     boosted_tree       0.521429  0.686370  0.588957          0.635714
TY         logistic       0.507143  0.811234  0.591716          0.621429
TY               rf       0.421429 -1.864136  0.441379          0.450000
TY     boosted_tree       0.521429 -0.008002  0.625698          0.692857
US         logistic       0.542857  1.231922  0.648352          0.714286
US               rf       0.478571 -0.390523  0.503401          0.464286
US     boosted_tree       0.400000 -2.558931  0.333333          0.314286
C          logistic       0.492857 -0.851619  0.628272          0.857143
C                rf       0.500000  0.760028  0.513889          0.521429
C      boosted_tree       0.485714  0.338066  0.538462          0.607143
S          logistic       0.500000 -0.305681  0.578313          0.678571
S                rf       0.521429  0.036853  0.531469          0.514286
S      boosted_tree       0.528571  0.867972  0.597561          0.664286
W          logistic       0.485714 -0.633763  0.217391          0.142857
W                rf       0.492857 -2.793837  0.382609          0.307143
W      boosted_tree       0.492857  0.431066  0.393162          0.321429
CL         logistic       0.500000 -0.682313  0.666667          1.000000
CL               rf       0.500000 -1.258971  0.606742          0.771429
CL     boosted_tree       0.464286  0.800956  0.489796          0.550000
GC         logistic       0.471429 -1.194117  0.229167          0.114286
GC               rf       0.564286  3.283681  0.601307          0.521429
GC     boosted_tree       0.471429  0.709830  0.339286          0.228571

In [10]:
feat_imp('ES')

                          feature_importance
ES_max_tweet                        0.074269
intra_diff_15_5                     0.070397
intra_ret_1                         0.061047
negative_proportion_mean            0.058514
neutral_proportion_mean             0.052762
ES_volume_chg                       0.047888
combined_score_min                  0.047106
ES_1M_RR25                          0.039551
positive_proportion_min             0.035958
intra_ret_5                         0.034167

In [11]:
feat_imp('NQ')

                          feature_importance
NQ_min_tweet                        0.066365
combined_score_max                  0.052120
intra_ret_5                         0.050224
positive_proportion_min             0.049432
NQ_volume_chg                       0.040516
negative_proportion_mean            0.040422
combined_score_min                  0.039296
intra_diff_15_5                     0.035559
positive_proportion_max             0.034388
topic_16                            0.033091

In [12]:
feat_imp('CD')

                         feature_importance
intra_ret_15                       0.046800
neutral_proportion_mean            0.036919
CD_1M_atm_vol                      0.036133
combined_score_max                 0.035240
CD_2M_1M_atm_vol                   0.035019
intra_ret_1                        0.033397
combined_score_min                 0.032209
intra_diff_15_5                    0.031621
CD_2M_Fly25                        0.031292
positive_proportion_max            0.031173

In [13]:
feat_imp('EC')

                          feature_importance
EC_2M_1M_atm_vol                    0.057560
EC_1M_RR25                          0.047242
EC_1M_atm_vol                       0.040735
intra_ret_1                         0.032941
positive_proportion_mean            0.031785
EC_max_tweet                        0.031686
intra_diff_15_5                     0.031079
combined_score_min                  0.031041
EC_min_tweet                        0.031006
negative_proportion_max             0.030417

In [14]:
feat_imp('JY')

                         feature_importance
JY_max_tweet                       0.106108
JY_1M_RR25                         0.070245
neutral_proportion_min             0.066852
intra_diff_15_5                    0.047666
combined_score_mean                0.046638
JY_1M_atm_vol                      0.045104
neutral_proportion_mean            0.043615
intra_ret_5                        0.039528
topic_21                           0.037486
JY_2M_RR25                         0.037304

In [15]:
feat_imp('MP')

                          feature_importance
MP_2M_1M_atm_vol                    0.068118
MP_daily_tweet                      0.049691
intra_ret_15                        0.048185
MP_volume_chg                       0.047118
MP_2M_RR25                          0.040110
MP_1M_atm_vol                       0.039807
MP_2M_Fly25                         0.033880
negative_proportion_mean            0.031641
MP_1M_Fly25                         0.031041
neutral_proportion_min              0.030812

In [16]:
feat_imp('TY')

                          feature_importance
TY_1M_atm_vol                       0.049389
intra_ret_15                        0.046949
intra_ret_1                         0.042028
combined_score_mean                 0.039491
TY_volume_chg                       0.038603
TY_2M_Fly25                         0.038187
negative_proportion_max             0.037344
TY_1M_Fly25                         0.036530
neutral_proportion_mean             0.033931
negative_proportion_mean            0.033313

In [17]:
feat_imp('US')

                         feature_importance
positive_proportion_min            0.070089
combined_score_max                 0.069649
neutral_proportion_max             0.057495
neutral_proportion_mean            0.045441
US_min_tweet                       0.039443
topic_2                            0.038052
US_volume_chg                      0.036733
US_2M_Fly25                        0.035131
combined_score_mean                0.033994
combined_score_min                 0.030817

In [18]:
feat_imp('C')

                          feature_importance
C_2M_RR25                           0.061408
C_volume_chg                        0.052950
intra_diff_15_5                     0.048167
neutral_proportion_mean             0.044028
C_2M_Fly25                          0.039000
C_min_tweet                         0.036030
intra_ret_15                        0.030733
C_1M_atm_vol                        0.030515
positive_proportion_mean            0.028637
C_1M_RR25                           0.027340

In [19]:
feat_imp('C')

                          feature_importance
C_2M_RR25                           0.061408
C_volume_chg                        0.052950
intra_diff_15_5                     0.048167
neutral_proportion_mean             0.044028
C_2M_Fly25                          0.039000
C_min_tweet                         0.036030
intra_ret_15                        0.030733
C_1M_atm_vol                        0.030515
positive_proportion_mean            0.028637
C_1M_RR25                           0.027340

In [20]:
feat_imp('S')

                         feature_importance
S_daily_tweet                      0.041264
S_volume_chg                       0.039593
S_max_tweet                        0.036727
S_1M_Fly25                         0.036214
intra_diff_15_5                    0.033072
S_2M_Fly25                         0.032615
combined_score_min                 0.030162
S_down_gamma                       0.029689
neutral_proportion_mean            0.028666
S_1M_atm_vol                       0.028151

In [21]:
feat_imp('W')

                          feature_importance
W_volume_chg                        0.044661
W_daily_tweet                       0.037529
neutral_proportion_max              0.031992
W_max_tweet                         0.028864
intra_diff_15_5                     0.027761
W_2M_RR25                           0.027463
W_2M_1M_atm_vol                     0.026719
W_1M_atm_vol                        0.026689
neutral_proportion_min              0.026553
negative_proportion_mean            0.026541

In [22]:
feat_imp('GC')

                          feature_importance
GC_2M_RR25                          0.083589
neutral_proportion_min              0.055835
combined_score_min                  0.051325
GC_2M_1M_atm_vol                    0.050134
GC_2M_Fly25                         0.048297
GC_max_tweet                        0.047774
intra_diff_15_5                     0.045096
negative_proportion_min             0.038150
positive_proportion_mean            0.036196
intra_ret_5                         0.036186