In [56]:
import pandas as pd

In [20]:
f=open("C:/Users/PC/Desktop/Settlements/1_11_2016_settlements.txt", 'r')
f1 = f.readlines()

In [22]:
f1[7]

'FEB17     1.494     1.496B    1.480     1.496B    1.499   -.016           9      1.515         244         340\n'

In [40]:
import re
text = [re.sub("\s+", ",", f.strip()).split(',') for f in f1]
import csv
with open('C:/Users/PC/Desktop/output.csv','w',newline='') as result_file:
    wr = csv.writer(result_file)
    wr.writerows(text)

In [36]:
text[0]

['FINAL',
 'PRE-CLEARING',
 'PRICES',
 'AS',
 'OF',
 '11/01/16',
 '06:00',
 'PM',
 '(CST)']

In [51]:
import os
lst =os.listdir('C:/Users/PC/Desktop/Settlements')

In [73]:
archs = pd.DataFrame([l.split('_') for l in lst])

In [77]:
archs[0].dtype

dtype('O')

In [85]:
archs[[0,1,2]] = archs[[0,1,2]].astype(int)

In [95]:
archs[2].dtype

dtype('int32')

In [97]:
arches = archs.sort_values(by=[2,1,0])

In [101]:
list(set(arches[3]))

['ags', 'nymex', 'eonly', 'settlements.txt', 'int']

In [107]:
arches[arches[3] == 'eonly']

      0   1     2      3                4
565   6  12  2016  eonly  settlements.txt
527   4   1  2017  eonly  settlements.txt
327  24   5  2017  eonly  settlements.txt
348  25   5  2017  eonly  settlements.txt
457   2   6  2017  eonly  settlements.txt
631   9   6  2017  eonly  settlements.txt
75   13   6  2017  eonly  settlements.txt
122  15   6  2017  eonly  settlements.txt
148  16   6  2017  eonly  settlements.txt
310  23   6  2017  eonly  settlements.txt
494  31   7  2017  eonly  settlements.txt
103  14   9  2017  eonly  settlements.txt
500   3  10  2017  eonly  settlements.txt
156  17  10  2017  eonly  settlements.txt
561   6  11  2017  eonly  settlements.txt
452   2   3  2018  eonly  settlements.txt
274  21   8  2018  eonly  settlements.txt
206  19   9  2018  eonly  settlements.txt
43   12  12  2018  eonly  settlements.txt
175  18  12  2018  eonly  settlements.txt
191  19  12  2018  eonly  settlements.txt
233  20  12  2018  eonly  settlements.txt
366  26  12  2018  eonly  settlements.txt
447   2   1  2019  eonly  settlements.txt
7    10   1  2019  eonly  settlements.txt
485  31   1  2019  eonly  settlements.txt
529   4   2  2019  eonly  settlements.txt
219   1   3  2019  eonly  settlements.txt
49   12   3  2019  eonly  settlements.txt
240  20   3  2019  eonly  settlements.txt
285  22   3  2019  eonly  settlements.txt
343  25   3  2019  eonly  settlements.txt
608   8   4  2019  eonly  settlements.txt
430  29   4  2019  eonly  settlements.txt
118  15   5  2019  eonly  settlements.txt
474  30   5  2019  eonly  settlements.txt
459   2   7  2019  eonly  settlements.txt
556   5   8  2019  eonly  settlements.txt
127  15   8  2019  eonly  settlements.txt