# Sentiment Features

This notebook creates sentiment featues

In [1]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import numpy as np
from project_helper import TweetData
import pandas as pd
import matplotlib.pyplot as plt
from text_features import SentimentFeaturesGenerator

## Load the tweets

In [2]:
tweet_data = TweetData()

## Create the sentiment features

**Four features are created:**

1) Proportion of words with negative sentiment in the tweet


2) Proportion of words with positive sentiment in the tweet

3) Proportion of words with neutral sentiment in the tweet

4) Combined Score of the tweet

In [15]:
sentiment_features = SentimentFeaturesGenerator(tweet_df=tweet_data.clean_tweets,
                                               aggregate=True)
sentiment_features.run()

## Analyze the results

The SentimentFeaturesGenerator generates two dataframes - one at the 'tweet level' and an aggregated dataframe for each day.

In [11]:
sentiment_df = sentiment_features.sentiment_df
sentiment_df_aggregate = sentiment_features.sentiment_df_aggregate

In [12]:
sentiment_df.head()

,negative_proportion,positive_proportion,neutral_proportion,combined_score,date
timestamp,,,,,
2019-11-17 19:57:12-06:00,0.062,0.058,0.880,-0.0516,2019-11-18
2019-11-17 19:56:02-06:00,0.000,0.000,0.000,0.0000,2019-11-18
2019-11-17 19:49:47-06:00,0.110,0.153,0.736,0.4767,2019-11-18
2019-11-17 19:47:32-06:00,0.000,0.000,1.000,0.0000,2019-11-18
2019-11-17 19:30:09-06:00,0.300,0.077,0.623,-0.8955,2019-11-18

In [13]:
sentiment_df_aggregate.head()

,negative_proportion_min,negative_proportion_max,negative_proportion_mean,positive_proportion_min,positive_proportion_max,positive_proportion_mean,neutral_proportion_min,neutral_proportion_max,neutral_proportion_mean,combined_score_min,combined_score_max,combined_score_mean
date,,,,,,,,,,,,
2009-05-05,0.000,0.000,0.000,0.163,0.252,0.2075,0.748,0.837,0.7925,0.4767,0.7506,0.61365
2009-05-08,0.000,0.000,0.000,0.277,0.277,0.2770,0.723,0.723,0.7230,0.6115,0.6115,0.61150
2009-05-09,0.000,0.000,0.000,0.000,0.000,0.0000,1.000,1.000,1.0000,0.0000,0.0000,0.00000
2009-05-12,0.000,0.000,0.000,0.000,0.000,0.0000,1.000,1.000,1.0000,0.0000,0.0000,0.00000
2009-05-13,0.075,0.075,0.075,0.222,0.222,0.2220,0.703,0.703,0.7030,0.4809,0.4809,0.48090

In [16]:
sentiment_df_aggregate.to_csv('daily_sentiment.csv')